<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Capacitor Google Analytics Demo</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Select the buttons below to test different methods available in the plugin.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Methods</ion-label>
      </ion-list-header>
      <ion-item (click)="logEvent()" detail="true">
        <ion-label>
          <h2>Log Event</h2>
          <p>Test logEvent()</p>
        </ion-label>
      </ion-item>"
      <ion-item (click)="setUserId()" detail="true">
        <ion-label>
          <h2>Set User ID</h2>
          <p>Test setUserId()</p>
        </ion-label>
      </ion-item>"
      <ion-item (click)="setUserProperty()" detail="true">
        <ion-label>
          <h2>Set User Properties</h2>
          <p>Test setUser()</p>
        </ion-label>
      </ion-item>"
      <ion-item (click)="getAppInstanceId()" detail="true">
        <ion-label>
          <h2>Get App Instance ID</h2>
          <p>Test getAppInstanceId</p>
        </ion-label>
      </ion-item>
    </ion-list>
</ion-content>
